@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

greyblue = #4D98C8
lightestgrey = #E0E0E0
mediumgrey = #484848
darkgrey = #333333
blue = #50A3D9
lightblue = #B7FFED
coral = #EB644F
green = #60AF8F
mauve = #CC7E8C

///fonts
regular()
  font-family 'Montserrat', sans-serif
  font-weight 400
  font-style normal
bold()
  font-family 'Montserrat', sans-serif
  font-weight 700
  font-style normal