@import 'core'

:local(.calendar)
	display inline-block
	width 100%
	text-align left
	padding 0 4em
	.agenda-header
		padding-left 4.5em
	.chart-container
		margin-top 1em
		width 100%
		.y-axis
			border-top 1px solid #ccc
			width 4em
			display inline-block
			height 100vh
			position relative
			// background-color #eee
			background-image repeating-linear-gradient(0deg, transparent, #ccc 2px, transparent 1px, transparent 10%)
			span
				position absolute
				right 4.5em
				margin-top -.75em
				text-align right
				for n in (0..12)
					distance = (10% * (n - 1))
					&:nth-child({n})
						top distance
		.agenda-container
			width calc(100% - 5.5em)
			padding-left .5em
			display inline-block
	