@import 'core'

:local(.container)
  display inline-block
  width 100%
  padding 0 2em
  text-align left
  .schedule-container
    // -webkit-column-count 2
  .calendar-event
    background lighten(greyblue, 15)
    color darkblue
    border-radius .5em
    padding .5em
    margin-bottom 1em
  .attendee
    display inline-block
    position relative
    &:not(:last-child)
      &:after
        content ', '
        display inline-block
        margin-right .5em