@import 'nib'
@import 'rupture'
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic')

:local(.wrapper)
  position absolute
  top 0
  left 0
  width 30%
  text-align left
  max-height calc(100vh - 6em)
  overflow auto
  font-size .8em
  table
    background darken(white, 5)
    box-shadow 0 0 5px #ccc
  td
    padding .5em 1em
    color darken(#949494, 10)
  th
    padding 1em
    background darken(#949494, 20)
    color white
    font-weight lighter