@import '_variables'
@import 'nib'
@import 'rupture'
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic')

:local(.container)
  width 300px
  display inline-block
  background mediumgrey
  float left
  position fixed
  top 0
  left 0
  right 75%
  bottom 0
  color #EFEFEF
  box-shadow 2px 78px 10px #ccc
  transform-style preserve-3d
  .current-user
    background darkgrey
    .welcome
      width 75%
      display inline-block
      padding 1em
      float left
      h3
        margin 0
        padding 0
        line-height 1
      p
        margin 0
        padding 0
    .profile-img
      width 25%
      padding-top 25%
      display inline-block
      background-size cover
      float left
      background-position center center
  button
    outline none
    background blue
    font-size 1.8rem
    color white
    border none
    width 100%
    padding 1em
  .sidebar-date
    cursor pointer
    display inline-block
    width 100%
    background blue
    color white
    padding 1em 0
    text-align center
    .month
      font-size 2.5em
      display block
      margin 0
      padding 0
      line-height 1
      regular()
    .day
      margin 0
      padding 0
      line-height 1
      display block
      font-size 6em
      bold()
  .main-nav
    box-shadow 0 -4px 3px rgba(#333, .1)
  li
    regular()
    color white
    cursor pointer
    background greyblue
    a
      color #EFEFEF
      display inline-block
      width 100%
      padding 1em
      background greyblue
      transition all .3s ease
    span
      margin-right .5em
    &:not(:last-child)
      margin-bottom 1px
    &:hover
      a
        background blue
        box-shadow -4px 0 5px rgba(#333, .2)
        transform translateX(15px)
  .sidebar-availability
    width 100%
    border-left 1em solid mediumgrey
    margin-top 1em
    td
      padding 1em
    tr
      &.room
        background darkgrey
        text-transform capitalize
    .availability
      text-align right
      p
        display inline-block
      &:after
        content ''
        height 1em
        width 1em
        border-radius 100%
        display inline-block
        margin-left 1em
    .available
      .availability
        width 75%
        color green
        &:after
          background green
    .occupied
      .availability
        color coral
        &:after
          background coral